button{
    font-size: 15px;
    background: black;
    border-radius: 200%;
    color: white;
    height: 0;
    padding-bottom: 11%;
    padding-top: 9%;
    width: 20%;
    overflow: hidden;
    border: black;
    text-align: center;
}

button:hover{
    background: #c20000;
    border-radius: 300%;
    height: 0;
    padding-bottom: 16%;
    padding-top: 14%;
    width: 30%;
}

h1{
    font-size: 50px;
}

dfn{
    color: #c20000;
    font-style: normal;
}



