html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
}

.top{
    height: 15%;
    width: 100%;
    background-color: lightcoral;
}

.mid{
    height: 60%;
    width: 100%;
    background-color: darkseagreen;
}

.bot{
    height: 25%;
    width: 100%;
    background-color: wheat;
}

.trow1{
    width: 25%;
    float: left;
    height: 100%;
    background-color: #974c4c;
}

.trow2{
    width: 25%;
    height: 100%;
    float: left;
}
.trow3{
    width: 25%;
    height: 100%;
    float: left;
    background-color: #974c4c;
}
.trow4{
    width: 25%;
    height: 100%;
    float: left;
}

.mrow1{
    width: 61.8%;
    height: 100%;
    background-color: #5d7d5d;
    float: left;
}

.mrow2{
    width: 38.2%;
    height: 100%;
    float: left;
    border: #434343;
}

.brow1{
    width: 25%;
    height: 100%;
    background-color: #847662;
    float: left;
}

.brow2{
    width: 50%;
    height: 100%;
    float: left;
}

.brow3{
    width: 25%;
    height: 100%;
    background-color: #847662;
    float: left;
}